*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******************** 
VERSIONE MOBILE
********************* */
/*   GENERICS  */

a{
    text-decoration: none;
}

.btn{
    
    display: block;
    background-color: #fff;
    padding: 5px 10px;
    color: #000;
    border-radius: 10%;
}



/* UTILS */
.brd{
    border: 1px solid #000;
}
.p-fixed{
    position: fixed;
    top: 0;
    left: 0;
}

.d-flex{
    display: flex;
}
.min-h{
    min-height: 100%;
}
.container{
    max-width: 100%;
    margin: 0 auto;
}
.w-70{
    width: 70%;
}

.bg-purple{
    background-color: #9792E4;
}
/* HEADER */

header{
    background-color: aqua;
    
    min-height: 10vh;
    width: 100%;

}
.header-row{
    min-height: 10vh;
    justify-content: space-between;
}
.logo-col{
    
    width: 30%;
    background-color: blueviolet;

    justify-content: center;
    align-items: center;
    
}

.nav-bar{
    width: 20%;
    background-color: blueviolet;

    justify-content: center;
    align-items: center;
}
.nav-menu{
    display: none;
    align-items: center;
    justify-content: space-between;
}

li{
    padding: 5px 10px ;
    list-style-type: none;
}

/* MAIN */

/* 1-ST SECTION */
.app-description{
    margin-top: 12vh;
}
.col{
    width: 100%;
    min-height: fit-content;
    
}
.row{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    min-height: fit-content;

    padding: 10%;


}
.card{
    border-radius: 10%;
    padding: 10%;
    margin-bottom: 10%;
    
    display: flex;
    flex-direction: column;
    
    min-height: 400px;
    width: 100%;

    background-color: peru;


}


/*******************
VERSIONE TABLET
*********************/

@media screen and (min-width: 768px){
    .row{
        flex-direction: row;
       
    }
    .col{
        width: calc(100% / 3);
    }
    .smll-card{
    }
    .lg-col{
        width: 65%;
        
    }
}


/************************************
VERSIONE DESKTOP
*************************************/

@media screen and (min-width: 992px ){
    body{
        font-size: 10px;
    }
    .nav-bar{
        width: 40%;
    }
    .fa-solid.fa-bars{
        display: none;
    } 
    .nav-menu{
        display: flex;
    }

    .container{
    max-width: 90%;
}
.col{
    flex-direction: row;
   
}
.smll-card{
    width: 30%;
}
.lg-card{
    width: 65%;
    
}
}

/************************************
VERSIONE LARGE-DESKTOP
*************************************/

@media screen and (min-width: 1200px){
    body{
        font-size: 20px;
    }
    .nav-bar{
        width: 40%;
    }
    .fa-solid.fa-bars{
        display: none;
    } 
    .nav-menu{
        display: flex;
    }

    .container{
    max-width: 80%;
}
    
}
